<%- include('partials/header.ejs') %>

<section id="profile">

    <div class="container">
        <h1>Profile</h1>
        <div class="wrapper span-1-of-1 flex-wrap" style="align-items: center !important;">
            <div class="profile-img">
                <img src="<%= user.picture %>" alt="">
            </div>
            <div class="profile-bio">
                <h2>
                    <%= user.name %>
                </h2>
            </div>
        </div>
        <div class="profile-wrapper">
            <form action="/profile/edit" method="POST">
            <div class="form-item row">
                <label for="username">Username</label>
                <input type="text" id="input" value="<%= user.username %>" name="username" placeholder="Add a one-word username for yourself">
            </div>
            <div class="form-item row">
                <label for="dob">Date of birth</label>
                <input type="date" id="input" value="<%= user.dob %>" name="dob" required>
            </div>
            <div class="form-item row txt">
                <label for="bio">Bio</label>
                <textarea name="bio" placeholder="Add a short bio of under 15 words."><%= user.bio %></textarea>
            </div>
            <button type="submit">Save</button>
            </form>
        </div>
    </div>

</section>

<%- include('partials/footer.ejs') %>