<%- include('partials/header.ejs') %>

<section id="profile">

    <div class="container">
        <h1>Profile</h1>
        <div class="wrapper span-1-of-1 flex-wrap">
            <div class="profile-img">
                <img src="<%= user.picture %>" alt="">
            </div>
            <div class="profile-bio">
                <h2>
                    <%= user.name %>
                </h2>
                <p><%= user.bio %></p>
                <% if (!hideEdit) { %> 
                    <a class="btn" href="/profile/edit">Edit Profile</a>
                    <a class="btn" href="/profile/logout">Logout</a>
                <% } %>
            </div>
        </div>
        <!-- <div class="w-100">
            <ul>
                <li class="icon">
                    <a href="<%= user.facebook %>" target="_blank"><i data-feather="facebook"></i></a>
                </li>
                <li class="icon">
                    <a href="<%= user.instagram %>" target="_blank"><i data-feather="instagram"></i></a>
                </li>
                <li class="icon">
                    <a href="<%= user.linkedin %>" target="_blank"><i data-feather="linkedin"></i></a>
                </li>
                <li class="icon">
                    <a href="<%= user.twitter %>" target="_blank"><i data-feather="twitter"></i></a>
                </li>
            </ul>
        </div> -->

        <div class="profile-wrapper">
            <form>
                <div class="form-item" id="card">
                    <label>Username</label>
                    <span><%= user.username %></span>
                </div>
                <div class="form-item" id="card">
                    <label>Role</label>
                    <span><%= user.role %></span>
                </div>
                <div class="form-item" id="card">
                    <label>Class</label>
                    <span><%= user.defaultClass.name %></span>
                </div>
                <div class="form-item" id="card">
                    <label>Status</label>
                    <span class="red-icon"><%= user.status %></span>
                </div>
                <div class="form-item" id="card">
                    <label>Joined</label>
                    <span><%= new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' }).format(user.createdAt) %></span>
                </div>
                <div class="form-item" id="card">
                    <label>Last Updated</label>
                    <span><%= new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' }).format(user.updatedAt) %></span>
                </div>
            </form>
        </div>
    </div>

</section>

<%- include('partials/footer.ejs') %>